*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator-container{
    background-color: rgb(109, 197, 234);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
h2{
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 8px;
    color: black;
}
.form-group input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}
.form-group input:focus {
    outline: none;
    border: 2px solid #000;
}
.form-group button{
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #333;
    transform: scale(1.02);
    transition: 0.3s;
}